$bg-color: #36A2EB;
$slider-height: 7px;

//slider appearance
.slider {
    -webkit-appearance: none;
    width: 40%;
    margin-left: 20px;
    height: $slider-height;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

//chrome support
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: $bg-color;
    cursor: pointer;
}

//firefox support
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $bg-color;
    cursor: pointer;
}